{% extends 'adopt/home.html.twig' %}

{% block body %}
<header class="page-header">
    <h1 class='text-center'>Liste des utilistateurs</h1>
</header>
<div class='container'>
<div class='col-lg-offset-3 col-lg-6'>
{% for usr in uti %}
    <div class ='jumbotron'>
    <div class='row'>
    <img class='col-lg-6' src='{{ usr.getAvatar }}' class='img-responsive'/>
    
    <ul class='list-unstyled col-lg-6'>
        <li>{{ usr.getLastName() }}  {{ usr.getFirstName() }}</li>
        <li>{{ usr.getAge() }} ans</li>
        <li>
        {% if usr.getGender() == 'Male' %}
            <i class="fa fa-mars" aria-hidden="true"></i>
        {% else %}
            <i class="fa fa-venus" aria-hidden="true"></i>
        {% endif %}
        </li>
        <li>{{ usr.getPhoneNumber() }}</li>
    </ul>
    </div>
    </div>
{% endfor %}
</div>
</div>
{% endblock %}